/* SETUP & STRUCTURE */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;

    /*  DEV TOOLS 
    border: 2px solid red;
    padding: 1px; 
    */
}

picture, img {
    display: block;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

content-wrapper {
    padding: 0 10vw;
}

/* OLD THEME */

@media (prefers-color-scheme: light) {
    :root {
        --primary-background-color: pink;
        --secondary-background-color: aliceblue;
        --primary-text-color: orchid;
        --hover-text-color: palevioletred;
        --shadow-color-light: rgba(218, 112, 214, 0.5);
        --shadow-color-dark: rgba(218, 112, 214, .75);

        --border-radius-xsmall: 5px;
        --border-radius-small: 15px;
        --border-radius-medium: 25px;
        --border-radius-large: 50px;
        --border-radius-xlarge: 100px;
    }
}



@media (prefers-color-scheme: dark) {
    :root {
        --primary-background-color: pink;
        --secondary-background-color: aliceblue;
        --primary-text-color: orchid;
        --hover-text-color: palevioletred;
        --shadow-color-light: rgba(218, 112, 214, 0.5);
        --shadow-color-dark: rgba(218, 112, 214, .75);

        --border-radius-xsmall: 5px;
        --border-radius-small: 15px;
        --border-radius-medium: 25px;
        --border-radius-large: 50px;
        --border-radius-xlarge: 100px;
    }
}

/* STYLE */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-background-color);
    font-family: "Edu NSW ACT Cursive", cursive, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    font-size: clamp(16px, 1rem, 20px);
    
}

a:hover, button:hover {
    color: var(--hover-color);
    border-radius: var(--border-radius-medium);
    box-shadow: 4px 4px 4px var(--shadow-color-dark);
}

/* HEADER */

.mainHeader {
    position: sticky;
    top: 0;
    
}

.mainHeader content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: var(--border-radius-medium);
    background-color: var(--secondary-background-color);
    box-shadow: 4px 4px 4px var(--shadow-color-light);
}

.mainHeader h1{
    flex: 1 1 auto;
    color: var(--primary-text-color);
    text-shadow: 5px 5px var(--primary-background-color); 
}

.mainHeader a h1:hover {
    color: var(--hover-text-color);
}

/* SOCIALS */

.socialLinks {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: space-evenly;
}

nav a {
    justify-self: center;
    display: flex;
    margin: 5px;
    border-radius: var(--border-radius-large);
    box-shadow: 4px 4px 4px var(--shadow-color-light);
}

nav a img {
    max-width: 100%;
    max-height: 3em;
    border-radius: var(--border-radius-large);
}

/* ABOUT */

.about {
    justify-self: center;
    width: 75%;
    margin: 1em auto;
    border-radius: var(--border-radius-medium);
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
    box-shadow: 4px 4px 4px var(--shadow-color-light);
    
}

.about h2 {
    text-shadow: 3px 3px var(--primary-background-color);
}

.about p {
    font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    margin: 5% 5%;
}

.about a:hover {
    color: var(--hover-text-color);
    border-radius: 25px;
    box-shadow: 4px 4px 4px var(--shadow-color-dark);
}

/* CARDS */

.cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: stretch;
}

.cards article {
    display: flex;
    justify-content: center;
    width: 20rem;
    margin: 3% 3%;
    border-radius: var(--border-radius-xsmall) var(--border-radius-medium) var(--border-radius-medium) var(--border-radius-xsmall);
    box-shadow: 4px 4px 4px var(--shadow-color-light);
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
}

.cards a:hover {
    color: var(--hover-text-color);
    border-radius: var(--border-radius-xsmall) var(--border-radius-medium) var(--border-radius-medium) var(--border-radius-xsmall);
    box-shadow: 4px 4px 4px var(--shadow-color-dark);
}


.cards article img {
    border-radius: var(--border-radius-xsmall) var(--border-radius-medium) var(--border-radius-xlarge) var(--border-radius-xlarge);
    box-shadow: 3px 3px 4px var(--shadow-color-light);
}

/*
.cards article img:hover {
    border-radius: var(--border-radius-xsmall) var(--border-radius-medium) var(--border-radius-xlarge) var(--border-radius-xlarge);
    box-shadow: 3px 3px 4px var(--shadow-color-dark);
}
*/

.cards article h3 {
    width: 100%;
    text-align: center;
    padding: 5% 5%;
    text-shadow: 2px 2px var(--primary-background-color);
}

.cards article p {
    margin: auto;
    text-align: center;
    padding: 10% 10%;
    font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    
}

/* FOOTER */

footer {
    border-radius: 25px;
    background-color: var(--secondary-background-color);
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
    margin: 1em;
    box-shadow: 4px 4px 4px var(--shadow-color-light);
}

.email {
    text-align: center;
    color: var(--primary-text-color);
    text-shadow: 1px 1px var(--primary-background-color);
}

